name: Pull Request
on: [pull_request]

jobs:
  go-tests:
    name: Go Tests
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x

      - name: checkout source
        uses: actions/checkout@v2

      - name: unit tests
        run: make test

      - name: build
        run: make build

      - name: setup node
        uses: actions/setup-node@v2

      - name: install bats ubuntu
        run: sudo npm install -g bats
        if: ${{ matrix.os == 'ubuntu-latest' }}

      - name: install bats windows
        run: npm install -g bats
        if: ${{ matrix.os == 'windows-latest' }}

      - name: acceptance tests *nix
        run: make acceptance
        if: ${{ matrix.os != 'windows-latest' }}

      - name: acceptance tests windows
        run: |
          $env:Path = $env:Path + ";" + $env:AppData + "\npm\node_modules\bats\libexec\bats-core"
          Get-ChildItem -Recurse C:/npm/prefix/node_modules/bats
          make acceptance
        if: ${{ matrix.os == 'windows-latest' }}

  docker-tests:
    name: Docker Tests
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: docker build
        run: make docker-build

      - name: test create command
        run: docker run -v $PWD:/konstraint konstraint create /konstraint/examples

      - name: test doc command
        run: docker run -v $PWD:/konstraint konstraint doc /konstraint/examples

  policy-tests:
    name: Policy Tests
    runs-on: ubuntu-latest
    container: openpolicyagent/conftest:latest
    steps:
      - name: checkout source
        uses: actions/checkout@v2

      - name: verify policies
        run: conftest verify -p examples -d examples/test-data
